.bg-green {
  background-color: #00523b;
}


.text-center {
  text-align: center;
  margin: auto !important;
  color: #ffffff;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  padding-left: 0;
  padding-right: 0;
  font-weight: normal;
}